<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="main.css" rel="stylesheet">
        <meta charset=utf-8" />
        <title>SLAM Guide</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body onload="startUpdate();">
        <div class="main-container">
            {% include 'menu.html' %}
            <div class="title-menu">
                <div class="title-item">
                    SLAM Guide.
                </div>

                <div class="title-mini-item">
                    <span id="actual_app_state"></span>
                </div>

                <div class="title-mini-item">
                    <span id="timer_value"></span>
                </div>
            </div>

            {% if path == 'logger' %}
                {% include 'logger.html' %}
            {% endif %}
            {% if path == 'compassing' %}
                {% include 'compassing.html' %}
            {% endif %}
            {% if path == 'maytagging' %}
                {% include 'maytagging.html' %}
            {% endif %}
            {% if path == 'caruseling' %}
                {% include 'caruseling.html' %}
            {% endif %}
        </div>

        <script>
            let intervalID;

            function startUpdate() {
                intervalID = setInterval(update_values, 100);
            }

            function update_values() {
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                $.getJSON($SCRIPT_ROOT+"/timer",
                    function(data) {
                        $("#timer_value").text(data.timer_value)
                        $("#actual_app_state").text(data.actual_app_state)
                  });
                $.getJSON($SCRIPT_ROOT+"/stream_data",
                    function(data) {
                        $("#yaw_value").text(data.yaw_value)
                        $("#pitch_value").text(data.pitch_value)
                        $("#roll_value").text(data.roll_value)
                        $("#adc_value").text(data.adc_value)
                  });
            }
        </script>
    </body>
</html>
