<nav>
    <div>
        <ul class="menu-main">
            <li class="menu-main-item"><a class="menu-main-href" href="maytagging">
                <button class="menu-main-href">Maytagging</button>
            </a></li>
            <li class="menu-main-item"><a class="menu-main-href" href="/caruseling">
                <button class="menu-main-href">Caruseling</button>
            </a></li>
            <li class="menu-main-item"><a class="menu-main-href" href="/compassing">
                <button class="menu-main-href">Compassing</button>
            </a></li>
            <li class="menu-main-item"><a class="menu-main-href" href="/logger">
                <button class="menu-main-href">Logger</button>
            </a></li>
        </ul>
    </div>
</nav>